/*
	CSS for a faustlive like web application.
*/

	html {
		font-family: 'Roboto', sans-serif;
		margin: 0px;
		padding: 0px;
	}

	.application {
		display: grid;
		height:100%;
		grid-template-columns: 80px auto;
		grid-template-rows: 60px auto;
	}

	.logozone {
		grid-column: 1;
		grid-row: 1;
		background-color: #2b3373;
		color:#343232;
		text-align: center;
		line-height: 4rem;
		font-weight: bold;
		font-size : 1.8rem;
	}

	.actionzone {
		grid-column: 1;
		grid-row: 2;
		background-color: #2b3373;
	}

	.dynamic-button {
		width: auto;
		margin: 10px;
		padding: 4px;
		height: 1.5rem;
		text-align: center;
		color: #fff;
		opacity: 0.3;
		background-color: #0069d9;
		border-color: #0069d9;
		border-radius: 2px;
		user-select: none;
	}
	
	.action-button {
		width: auto;
		margin: 10px;
		padding: 4px;
		height: 1.5rem;
		text-align: center;
		color: #fff;
		background-color: #0069d9;
		border-color: #0069d9;
		border-radius: 2px;
		user-select: none;
	}

	.action-select {
		text-align: center;
	}
	.export-button {
		width: auto;
		margin: 10px;
		padding: 4px;
		height: 1.5rem;
		text-align: center;
		color: #fff;
		background-color: #0069d9;
		border-color: #0069d9;
		border-radius: 2px;
		user-select: none;
	}

	.export-button:hover {
		background-color: #007bff;
		border-color: #007bff;
	}

	.action-button:hover {
		background-color: #007bff;
		border-color: #007bff;
	}

	.dropzone {
		grid-column: 2;
		grid-row: 1;
		width: auto;
		height: auto;
		font-weight: bold;
		line-height: 3rem;
		text-align: center;
		padding: 0 0;
		color: #8d97e8;
		border: 4px dashed #8d97e8;
		cursor: default;
		font-size : 20px;
	}

	.dropzone:hover{
		color: #0069d9;
		border-color: #0062cc;
	}

	.dropzone input {
		min-width: 300px;
		height: auto;
		text-align: center;
		line-height: 2.5rem;
		font-size : 20px;
		background-color: inherit;
		color: #0069d9;
		border-width: 0px;
	}
	.editionzone {
		grid-column: 2 3;
		grid-row: 2 3;
		height: calc(100vh - 61px);
		width: calc(100vw - 86px);
	}

	.CodeMirror {
		height: 100%;
	}

	.modalwrapper {
		display:none;
		position: fixed;
		z-index:4;
		left: 0;
		top:0;
		height: 100%;
		width:100%;
		overflow: auto;
		background-color: rgba(229, 231, 233, 0.83);
	}

	.faustui {
		margin:20px 40px 40px 40px;
		width: calc(100%-80px);
		height: calc(100%-80px);
	}

/* Close Button used to stop the running Faust code */

	.closeBtn{
		float: right;
		font-size:40px;
		color:#0069d9;
		margin: 0px 10px 0px 0px;
	  }

	.closeBtn:hover,.closeBtn:focus{
		color:#007bff;
		text-decoration: none;
		cursor:pointer;
	}

	.exportui{
		display: grid;
		grid-template-columns: 1fr;
		grid-gap:20px;
		margin:auto;
		margin-top:100px;
		padding:20px;
		width: 250px;
		height: calc(100%-80px);
		background-color:white;
		box-shadow: 3px 3px 5px 0px rgba(75, 81, 122, 0.46);
	}

	.exportui h1 {
		text-align: center;
		color:hsla(220, 66%, 39%, 0.91);
	}

	#qrDiv {
		display: block;
		min-height: 130px;
	}
	#loader {
		display: none;
		text-align: center;
		color:hsla(220, 66%, 39%, 0.91);
		font-size: 3em;
	}


	.configui{
		display: grid;
		grid-template-columns: 1fr;
		grid-gap:20px;
		margin:auto;
		margin-top:100px;
		padding:20px;
		width: 80%;
		height: calc(100%-80px);
		background-color:white;
		box-shadow: 3px 3px 5px 0px rgba(75, 81, 122, 0.46);
	}

	.configui h1 {
		text-align: center;
		color:hsla(220, 66%, 39%, 0.91);
	}

	.config {
		display:grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 8px;
	}

	.config-element {
		border: none;
		background-color: #9FA8EB;
		padding: 10px;
	}
	.config-element p {
		font-style: italic;
		font-size: 0.8em;
	}
	.config-element ul {
		font-style: italic;
		list-style-type: none;
	}
	.config-element li {
		font-style: italic;
		list-style-type: none;
	}
