body {
    background-color: #2b2b2b;
    color: whitesmoke;
    margin: 0;
    & > #root {
        width: 100%;
        height: 100%;
        margin: 0px;
        position: absolute;
        display: flex;
        flex-direction: row;
        & > #left {
            width: 200px;
            margin: 0px;
            flex: 0 0 200px;
            min-width: 200px;
            max-width: 200px;
            & > #btns {
                margin-top: 60px;
                & > button.btn {
                    color: whitesmoke;
                    margin: 5px;
                    & > i.fas {
                        margin-right: 5px
                    }
                }
                & > button.btn-lg {
                    width: 160px;
                }
                & > button.btn-sm {
                    width: 75px;
                    & > i.fas {
                        margin-right: 5px
                    }
                    & > span {
                        display: none;
                    }
                    &:hover {
                        & > i.fas {
                            display: none;
                        }
                        & > span {
                            display: inline-block;
                        }
                    }
                }
                & > #btn-run {
                    $color: #bcf0ff;
                    border-color: $color;
                    &:hover {
                        background-color: darken($color, 50%);
                        border-color: $color;
                    }
                }
                & > #btn-upload {
                    $color: #ff88aa;
                    border-color: $color;
                    &:hover {
                        background-color: darken($color, 50%);
                        border-color: $color;
                    }
                    & > #input-upload {
                        display: none;
                    }
                }
                & > #btn-save {
                    $color: #35a8f0;
                    border-color: $color;
                    &:hover {
                        background-color: darken($color, 50%);
                        border-color: $color;
                    }
                    & > #a-save {
                        display: none;
                    }
                }
                & > #btn-docs {
                    $color: #3bf5e2;
                    border-color: $color;
                    &:hover {
                        background-color: darken($color, 50%);
                        border-color: $color;
                    }
                    & > #a-docs {
                        display: none;
                    }
                }
                & > #btn-export {
                    $color: #e3d26f;
                    border-color: $color;
                    &:hover {
                        background-color: darken($color, 50%);
                        border-color: $color;
                    }
                }
                & > #btn-diagram {
                    $color: rgb(255, 136, 169);
                    border-color: $color;
                    &:hover {
                        background-color: darken($color, 50%);
                        border-color: $color;
                    }
                }
            }
            & > form, & > .form {
                width: auto;
                margin: 10px 5px;
                & .input-group-prepend > span {
                    font-size: 0.8em;
                }
            }
        }
        & > #center {
            display: flex;
            position: relative;
            flex-direction: column;
            padding: 0px;
            margin: 0px;
            flex: 1 1 auto;
            min-width: 400px;
            max-width: unset;
            & > #center-tab {
                & a.nav-link:not(.active) {
                    color: whitesmoke;
                    &:hover {
                        background-color: black;
                        border-color: black black #dee2e6 black;
                    }
                }
            }
            & > #center-content {
                position: relative;
                flex: 1 1 auto;
                display: flex;
                flex-direction: column;
                & > #editor-overlay {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(255, 255, 255, 0.25);
                    display: none;
                    z-index: 1;
                }
                & > #editor {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                }
                & > #faust-ui {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    & > #iframe-faust-ui {
                        display: none;
                        border: none;
                        width: 100%;
                        height: 99%;
                    }
                    & > #faust-ui-default {
                        top: 20%;
                    }
                }
                & > #diagram {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    overflow: auto;
                    & > #diagram-svg {
                        position: relative;
                        display: none;
                        margin: auto;
                        flex: 1 0 auto;
                        max-width: 100%;
                        max-height: 100%;
                        overflow: auto;
                        text-align: center;
                        & > svg {
                            height: auto;
                            width: 100%;
                        }
                    }
                    & > #diagram-default {
                        top: 20%;
                    }
                }
            }
            & > #alert-faust-code {
                position: absolute;
                bottom: 0px;
                left: 0px;
                right: 0px;
                display: inline-flex;
                visibility: hidden;
                & > span {
                    text-overflow: ellipsis;
                    width: 100%;
                    overflow: hidden;
                    white-space: nowrap;
                    line-height: 1;
                }
                & > a {
                    line-height: 1;
                }
                & > button {
                    padding: 7px;
                    outline: none;
                }
            }
            & > #modal-alert-faust-code-detail {
                & .modal-body {
                    font-size: 0.75rem;
                }
            }
        }
        & > #right {
            position: relative;
            display: flex;
            padding: 0px;
            margin: 0px;
            width: 200px;
            flex: 1 0 auto;
            font-size: 0.8em;
            flex-direction: column;
            max-width: calc(100% - 600px);
            min-width: 200px;
            & .form-row {
                margin-right: 0px;
                margin-left: 0px;
                width: 100%
            }
            & .btn-overlay {
                font-size: 12px;
                border-color: transparent;
                border-radius: 0px;
                padding: 0rem 0.1rem;
                z-index: 3;
                &.active {
                    color: unset;
                    background-color: unset;
                    border-color: transparent transparent #f8f9fa transparent;
                    border-bottom-color: #f8f9fa;
                    &:hover {
                        color: #212529;
                        background-color: #f8f9fa;
                        border-color: #f8f9fa;
                    }
                }
                &:focus {
                    box-shadow: none;
                }
            }
            & wave { /* stylelint-disable-line selector-type-no-unknown */
                overflow: hidden !important;
            }
            & .btn-overlay-icon {
                width: 20px;
            }
            & .analyser-ui {
                position: relative;
                flex: 1 1 auto;
                min-height: 100px;
                & > .analyser-controller {
                    position: absolute;
                    display: flex;
                    top: 0px;
                    z-index: 5;
                    opacity: 0.4;
                    transition: opacity 0.15s ease-in-out;
                }
                &:hover {
                    & > .analyser-controller {
                        opacity: 1;
                    }
                }
                & > canvas {
                    position: absolute;
                    width: 100%;
                    height: auto;
                }
            }
            & > #input-ui {
                position: relative;
                display: flex;
                flex: 1 1 auto;
                flex-direction: column;
                max-height: calc((100% - 300px) / 2 + 120px);
                overflow: hidden;
                & > #source-ui {
                    position: relative;
                    & > #source-overlay {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        background-color: rgba(255, 255, 255, 0.25);
                        display: none;
                        z-index: 5;
                    }
                    & > #source-waveform {
                        background-color: #000;
                    }
                    & > #source-controller {
                        position: absolute;
                        display: flex;
                        bottom: 0px;
                        z-index: 5;
                        opacity: 0.4;
                        transition: opacity 0.15s ease-in-out;
                    }
                    &:hover {
                        & > #source-controller {
                            opacity: 1;
                        }
                    }
                }
            }
            & > #dsp-ui {
                display: flex;
                flex: 2 1 auto;
                flex-direction: column;
                & #dsp-ui-detail {
                    display: none;
                    width: 100%;
                    & > li {
                        padding: 0px;
                        background-color: unset;
                        border-color: rgba(255, 255, 255, 0.125);
                    }
                }
                & > #output-analyser-ui {
                    display: none;
                }
            }
            & > #output-ui {
                margin-top: auto;
            }
        }
        .modal {
            color: black;
        }
        & > #modal-export {
            & #export-loading {
                display: none;
            }
            & #export-download {
                display: none;
            }
            & #qr-code {
                display: none;
                margin-left: auto;
                margin-right: auto;
            }
            & #export-error {
                display: none;
            }
        }
    }
    .resizable {
        position: absolute;
        display: block;
        padding: 5px;
        z-index: 1;
        &.resizable-left {
            height: 100%;
            width: 0px;
            left: 0;
            cursor: w-resize;
        }
        &.resizable-right {
            height: 100%;
            width: 0px;
            right: 0;
            cursor: e-resize;
        }
        &.resizable-top {
            height: 0px;
            width: 100%;
            top: 0;
            cursor: n-resize;
        }
        &.resizable-bottom {
            height: 0px;
            width: 100%;
            bottom: 0;
            cursor: s-resize;
        }
    }
}